<div class="form-login--container">
    <form class="form-login--form" #loginForm="ngForm">
        <div class="form-login--div">
            <input [(ngModel)]="username" type="text" id="username" placeholder=" "/>
            <label for="username">Username:</label>
        </div>
        <div class="form-login--div">
            <input [(ngModel)]="password" type="text" id="password" placeholder=" "/>
            <label for="password">Password:</label>
        </div>
        <div class="form-login--div__pwd-reset">
            <span><a href="placeholder">Forgot your password?</a></span>
        </div>
        <div class="form-login--div__submit">
            <button (submit)="onSubmit()">LOGIN</button>
            <span class="form-login--div__register"><a href="placeholder">Need to register?</a></span>
        </div>
    </form>
</div>